@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-light: #F9F5FF;
  --color-brand: #7C3AED;
  --color-brand-dark: #5B21B6;
  --color-brand-soft: #E9D5FF;
  --color-brand-accent: #A855F7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-brand-light text-slate-900;
}
